<h1>All Posts</h1>




<table class="table table-bordered">

<thead>
    <tr>
<th>ID</th>
<th>Picture</th>
<th>Title</th>
<th>Status</th>
<th>Categories</th>
<th>Allow Comments</th>
<th>View Post</th>
<th>Date Posted</th>



    </tr>



</thead>
<tbody>

    {{#each posts}}
    <tr>
        <td>{{id}}</td>
        <td><img src="/uploads/{{file}}" alt="" class='img-thumbnail'></td>
        <td>{{title}}</td>
        <td>{{status}}</td>
        <td>{{category.name}}</td>
        <td>{{allowComments}}</td>
        <td><a href="/post/{{slug}}">View</a></td>
        <td>{{generateDate date 'MMMM Do YYYY'}}</td>

    {{/each}}
    </tr>



</tbody>




</table>